section {
    .container {
        width: 100%;
        padding: 0;
    }

    nav {
        color: white;
        background-color: cornflowerblue;
        padding: 5px;
        width: 100%;
        a {
            text-decoration: none;
            color: white;
        }
    }
}
